<!doctype html>
<html>

  <head>
    <title>ECLI Resolver/ forwarder</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body>
    <h1>ECLI Resolver / forwarder</h1>
    <h2>Quick tests:</h2>
    <ul>
      {%- for uri in tests %}
        <li><a href="/{{uri}}">{{uri}}</a></li>
      {% endfor %}
    </ul>
    <h2>Don't provide ECLI resolving abilities:</h2>
    <ul>
      {%- for uri in other %}
        <li><a href="/{{uri}}">{{uri}}</a></li>
      {% endfor %}
    </ul>
    <h2>Are not officially documented</h2>
    <ul>
      {%- for uri in new %}
        <li><a href="/{{uri}}">{{uri}}</a></li>
      {% endfor %}
    </ul>
    
  </body>

</html>
